{{CRITICAL_CSS}}
<div id="root">{{APP}}</div>

{{REDUX_DATA}}

{{LOADABLE_CHUNKS}}

<!-- HTMLWebpackPlugin can not output the bundles from both builds so the scripts are injected here
      by WebpackModuleNomodulePlugin instead -->
