<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- General metadata *Common to all pages.-->
  <meta charset="utf-8" />
  <!-- Title provided by page component over a Helmet HOC. -->
  {{TITLE}}
  {{SEO_CRITICAL_METADATA}}
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="icon" href="/static/icon/favicon.ico" sizes="any"><!-- 32×32 -->
  <link rel="icon" href="/static/icon/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/static/icon/apple-touch-icon.png"><!-- 180×180 -->

  <!-- Other -->
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#37bfa7">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#002033">
  <link rel="manifest" href="/static/manifest.webmanifest">

  {{CRITICAL_CSS}}

</head>

<body>
  <div id="root">{{APP}}</div>

  {{REDUX_DATA}}

  {{LOADABLE_CHUNKS}}

  <!-- HTMLWebpackPlugin can not output the bundles from both builds so the scripts are injected here
        by WebpackModuleNomodulePlugin instead -->

</body>

</html>
